<!DOCTYPE html>
<html>
	<head>
	<title>OHP Ads</title>
		<meta name="csrf-token" content="{{csrf_token}}">
	</head>
	<body>
		<div class="content">
			<div class="posts"></div>
		</div>
    
		<script type="text/javascript" src="{{STATIC_URL}}jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}underscore-min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}backbone-min.js"></script>
		<script type="text/javascript">
			AdsCollection = new Backbone.Collection();
			
			AdsCollection.add([
			{% for ad in ads %}
			{ path:	"{{ad.path}}", type: "{{ad.type}}" },
			{% endfor %}
			]);
			
		</script>
	</body>
</html>